body {
	background-color: #222;
}

#bgvid {
	position: fixed;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}

#shadow {
	position: absolute;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	box-shadow: inset 80em 80em rgba(0,0,0,0.55);
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}

.parent {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}

#greet {
	color: #FFE6FF;
	font-size: 10em;
	font-family: 'Tangerine';
	font-weight: 400;
}