html, body {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  font-family: 'Roboto';
  background-color: #fff;
}

#main {
  display: flex;
  padding-top: 1rem;
  flex-direction: column;
  align-items: center;
}

.counties {
  fill: none;
}

.county {
  stroke: rgba(158, 158, 158, 0.8);
}

.states {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
}

div.tooltip {
  position: absolute;
  padding: 10px;
  width: 12rem;
  background: #fff;
  box-shadow: 0 10px 20px rgba(0,0,0,0.2), 0 6px 6px rgba(0,0,0,0.2);
  border: 0px; 
  border-radius: 2px;
  pointer-events: none;
}

.tip-row {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
}

#title {
  font-size: 5.5vw;
  margin-bottom: 1rem;
  text-align: center;
}

@media (min-width: 1000px) {
  #title {
    font-size: 3.5rem;
  }
}

@media (max-width: 700px) {
  #description {
    max-width: 90vw;
  }
}

@media (max-width: 500px) {
  #description {
    font-size: 0.85rem;
  }

  #source {
    font-size: 0.85rem;
  }
}

#description {
  text-align: center;
  margin-bottom: 0.5rem;
}

#source {
  align-self: flex-end;
  margin-top: 1rem;
}

a {
  text-decoration: none;
  cursor: pointer;
}