body {
  font-family: "Open Sans";
}

.nav img {
  height: 20px;
}

nav {
  height: 50px;  
}

#logo {
  font-size: 14px;
  font-family: "Indie Flower";
  padding-top: 15px;
  margin-left: 0px;
}

.navbar {
  background-color: rgba(0,0,0,.5);
  margin-bottom: -50px;
  border-radius: 0px;
}

.mynav {
  border-bottom: none;
  font-weight: normal;
}

.nav a {
 font-weight: 100;
 font-size: 20px;
}

.container {
  width: 80%;
}

nav a:link {
  color:white;
  background-color: rgba(0,0,0,0.0) !important;
}

nav a:visited {
  color: white;
  background-color: rgba(0,0,0,0.0) !important;
}

nav a:active {
  background-color: rgba(0,0,0,0.0) !important;
}

nav a:hover {
  height:51px;
  background-color: rgba(0,0,0,.2) !important;
  border-radius: 0px !important;
  border-color: rgba(0,0,0,0.0) !important;
}

/*Above this line imported from homepage*/


.title {
  color: white;
  font-size: 40px;
  font-family: "Montserrat";
  margin-top: 130px;
  margin-bottom: 50px;
}

.intro {
  color: white;
  margin-bottom: 35px;
  width: 40%;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

.main {
  text-align: center;
}

.gen {
  margin-top: 15px;

}

.quoteholder {
  background-color: rgba(50,50,50,0);
  height: 200px;
  width: 600px;
  margin: auto;
  opacity: 0;
}

.quote {
  color: rgba(255,255,255,1.0);
  position: relative;
  margin-top: 50px;
}

.source {
  color: rgba(255,255,255,1.0);
  position: relative;
  margin-top: 20px;
  font-style: italic;
}

.tweet {
  margin-top: -165px;
  opacity: 0;
}

.footer{
  background-color: rgba(0,0,0,.5);
  color: rgba(240,240,240,1);
  height: 35px;
  position: absolute;
  bottom: 0px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;

}

.footer p {
  margin-bottom: 0px;
  margin-top: 8px;
  font-weight: 100;
}

/* above imported from timerstyle */

.background {
  background-image: url('../images/weatherbg.jpg');
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.5);
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 0px;
}

.usersHolder {
  margin: 0 auto;
  margin-top: 80px;
  height: 700px;
  width: 600px;
  background-color: rgb(100,100,100);
}